ellipsis()
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
ellipsisClamp()
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
