.hr20{
    height: 2.7vw;
    border: none;
    background: #f7f7f7;
    padding: 0;
    margin: 0
}
html,body{
    font-family: PingFang-SC-Heavy;
}
/* 首页标题 */
.title{
    font-size: 4.9vw;
    text-align: center;
    position: relative;
    font-weight: bold;
    height: 13.3vw;
    line-height: 13.3vw;
}
.title::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 8vw;
    background: #dbdbdb;
    left: 25%;
    top: 6.6vw;
}
.title::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 8vw;
    background: #dbdbdb;
    right: 25%;
    top: 6.6vw;
}
.title-94{
    color: #ffb94f;
    border-bottom: 1px solid #f7f7f7
}
.title-94::before{
    background: #ffb94f;
}
.title-94::after{
    background: #ffb94f;
}
