.hr20{
    height: 2.7vw;
    border: none;
    background: #f7f7f7;
    padding: 0;
    margin: 0
}
html,body{
    font-family: PingFang-SC-Heavy;
}
/* 首页标题 */
.title{
    font-size: 4.9vw;
    text-align: center;
    position: relative;
    font-weight: bold;
    height: 13.3vw;
    line-height: 13.3vw;
}
.title::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 8vw;
    background: #dbdbdb;
    left: 25%;
    top: 6.6vw;
}
.title::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 8vw;
    background: #dbdbdb;
    right: 25%;
    top: 6.6vw;
}
.title-94{
    color: #ffb94f;
    border-bottom: 1px solid #f7f7f7
}
.title-94::before{
    background: #ffb94f;
}
.title-94::after{
    background: #ffb94f;
}
.db{
    display: inline-block
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.df{
    display: flex;
    justify-content: space-between
}
.pr{
    position: relative;
}
.buybtn{
    width:32vw;
    height:13.33vw;
    background: #469afe;
    color: #fff;
    text-align:center;
    line-height:13.33vw;
    font-size:4.26vw;
}
.price1{
    font-size:4.8vw;
    color:#469afe;
}

.price2{
    font-size:3.2vw;
    color:#999;
    text-decoration:line-through;
}
.pd100{
    padding: 0 13.33vw
}
.pd20{
    padding: 0 2.66vw
}
.mgbt20{
    margin-bottom: 2.66vw
}
.fs28{
    font-size: 3.73vw
}
.fs20{
    font-size: 2.66vw
}
.fs24{
    font-size: 3.2vw
}
.messBox{
    width: 80%!important
}
.el-message{
    min-width: 0!important;
    top:50%!important;
    box-shadow: 0px 0px 5px 2px #f7f7f7;
} 
.el-message-box{
    width: auto
}